
# Python, Django, PyCharm
*pyc
bin/
include/
lib/
local/
.idea/
*.sqlite3

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Secret files
secret.py
file.log
webapp/static
*.json
basico_sm.tsv
logs

# Cpp stuff
build*/
tests/config_tests.h
0_*.bat
Testing/
conanbuildinfo.cmake
conaninfo.txt

